<div>
  Celsius:
  <input [(ngModel)]="celsius" type="number" (change)="onChangeCelsius($event)">
</div>

<br />

<div>
  Farenheight:
  <input [(ngModel)]="farenheit" type="number" (change)="onChangeFarenheit($event)">
</div>